[submodule "syntax/start/vim-jedi"]
	path = syntax/start/vim-jedi
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "syntax/start/python-syntax"]
	path = syntax/start/python-syntax
	url = git@github.com:vim-python/python-syntax.git
[submodule "syntax/start/haskell-vim"]
	path = syntax/start/haskell-vim
	url = git@github.com:neovimhaskell/haskell-vim.git
[submodule "syntax/start/vim-sensible"]
	path = syntax/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
